html{
    background-image: url(../images/lofiwall.jpeg);
    background-color: #BCF5FF;
    
}
body{
    width: 100%;
    margin: auto;
}

figure{
    font-size: xx-small;
    text-align: center;
    max-width: 100%;
    width: 80%;
    border-width: 0.3vw;
    margin: auto;
    border-color: #8eeafb;
}

figcaption {
    float: inline-start;
}

.tiny {
    font-size: xx-small;
}

* {
    margin: 0.4vw;
    padding: 0;
}


main{
    display: flex;
    flex-wrap: wrap;
}

main h1{
    flex: 0 1 100%;
    background-color:  rgba(143, 163, 255, 0.8);
    border-radius: 2vw;
}

section{
    flex: 100%;
    background-color:  rgba(143, 163, 255, 0.8);
    border-radius: 2vw;
}

figure{
    font-size: xx-small;
    text-align: right;
    max-width: 100%;
    /* width: 80%; */
    border-width: 1vw;
    border-color: #8eeafb;
}

main,
section,
h1,
h2,
h3,
h4,
nav {
    padding: 1%;
    text-align: center;
    font-family: "Andale Mono";
}

img{
    max-width: 100%;
    float: inline-start;
}

header h1{
    font-size: 300%;
    margin: 0.2vw 0.2vw;
    text-align: center;
    background-color:  rgba(143, 163, 255, 0.8);
    text-transform: uppercase;
    border-radius: 2vw;
}

header h2{
    font-size: 150%;
    text-indent: 0.5vw;
    text-align: center;
    margin: 0.2vw 0.2vw;
    background-color:  rgba(143, 163, 255, 0.8);
}

p{
    text-align: left;
    text-indent: 2vw;
    margin: 0.2vw 0.2vw;
    width: 50%;
}

ol{
    list-style-type:circle;
}

li{
    text-align: left;
    margin-left: 7vw;
}

nav li:hover, nav li:active{
    background-color:  #b1c4e2;
}

nav a:link{
    color: rgb(116, 8, 8);
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1vw;
    justify-content: center;
}

nav li{
    flex-grow: 1;
    flex-basis: 5vw;
    flex-shrink: 0;
    background-color:  rgba(143, 163, 255, 0.8);
    box-shadow: 3vw 3vh 3vw  rgba(143, 163, 255, 0.8);
    font-size: 120%;
    border: thin solid black;
    text-align: center;
}

.activePage{
    background-color: rgba(143, 163, 255, 0.8);
}

.rounded {
    border-radius: 2%;
}

.go-right {
    float: right;
    margin-left: 2vw;
}

div.paraImage{
    flex: 1 1 45%;
    text-align: center;
    display: inline-block;
    margin: 1vw;
}

.bucketList{
    height: 4vw;
    width: 4vw;
}


#cite{
    text-align: left;
    font-size: xx-small;
}

/*table*/
.bucketTable{
    background-color: rgba(143, 163, 255, 0.8);
    border: 2vw solid rgb(76, 136, 225);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}

tr:nth-child(even){
    background-color: rgb(121, 167, 236);
}

tr:nth-child(odd){
    background-color: transparent;
}

table{
    border: solid 0.2vh;
    float: inline-start;
    text-align: left;
}

tr:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
}

td,
th{
    border: thin solid darkslategrey;
    padding: .5vw;
}

caption{
    font-variant: small-caps;
    font-weight: bold;
    padding-top: 1vw;
}

/*form*/
form{
    display: flex;
    flex-wrap: wrap;
}

form p{
    text-indent: 0;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

fieldset{
    padding: 1%;
}

legend{
    margin-top: 1%;
}


input[type = "textarea"]{
    float: left;
    border-radius: 5vw;
}

input[type = "textarea"]{
    background-color:  rgb(250, 230, 248, 0.8);
}

input[type=submit]{
    width: 30vw;
    background-color: rgb(245, 210, 220);
    padding: 3vw;
    margin: 5vh 30vw;
    border: none;
    border-radius: 4vw;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgb(255, 146, 246);
    cursor: pointer;
    border-radius: 4vw;
}

label {
    width: 70%;
    display: inline-block;
    text-align: left;
    margin-left: 0.5vw;
 }

 label #foodRecs, label #placeRecs, label #experienceRecs{
    width: 20%;
    display: block;
    text-align: left;
    margin-left: 0.5vw;
 }

 input[type=checkbox] + label::before {
    content: "\00a0";   /* Non-breaking space */
    display: inline-block; 
    width: 3vw;
    height: 3vh;
    text-align: left;
    line-height: 1vh;
    font-size: 0.8vw; 
    margin-right: 2vw;
    border: 0.125vw solid white;   /* Push focus shadow away */
    background-color: #aaa;
    font-size: larger;
 }

 input[type=checkbox] {
    appearance: none;
    margin: 0;
 }
 
 input[type=checkbox]:checked + label::before {
    color: white;
    background: rgb(255, 146, 246);      
 }
 
 input[type=checkbox]:focus + label::before {
    box-shadow: 0 0 0 1vw gray;
 }
 
/*radio*/
input[type=radio] + label {
    cursor: pointer;
 }

input[type=radio] {
    appearance: none;
    margin: 0;
 }
input[type=radio] + label::before {
    content: "\00a0";   /* Non-breaking space */
    border-radius: 3vw;
    display: inline-block; 
    width: 4vw;
    height: 4vw;
    text-align: center;
    line-height: 1vh;
    font-size: 0.8vw; 
    margin-left: 10vw;
    background-color: gray;
    border: 0.125vw solid white;   /* Push focus shadow away */
 }
 
 input[type=radio]:checked + label::before {
    color: white;
    background: rgb(255, 146, 246);      
 }
 
 input[type=radio]:focus + label::before {
    box-shadow: 0 0 0 0.01vw gray;
 }
